.nav {
	background-color: #9aab98 !important;
}

.w3-bar {
	width: fit-content !important;
}

.nav li a {
	color: #f6f5f4;
	text-decoration: none;
	display: block;
}

.nav li a:hover {
	color: #333;
	background-image: url(images/nav_on.png);
	background-repeat: repeat-x;
}

a {
	color: #9aab98;
}

.nav a {
	color: black;
}

#breakdown img {
	width: auto;
	max-width: 175px;
}

.selected {
	background-color: #65816a;
}

@media screen and (max-width: 479px) {
	#alphabar {
		display: none;
	}
	.w3-bar-item {
		float: none !important;
	}
	.w3-bar {
		width: 100%!important;
	}

	.w3-bar a {
		border-bottom: 0.5px solid gray !important;
	}
	.w3-bar a:first-child {
		border-top: 0.5px solid gray !important;
	}
	.watercolor-bottles div {
		padding: 0;
	}
}

#diffusers .col-md-3 {
	text-align: center;
}

#diffusers .col-md-3 img{
	height: 150px;
}

.bolded li {
	font-weight: bold;
}

.watercolor-bottles {
	text-align: center;
}

.watercolor-bottles img {
	height: 100px;
}

body {
	font-size: 13px;
}

header img {
	width: 80%;
}