.nav {
    background-color: #9aab98 !important;
}

.nav li a {
	color: #f6f5f4;
	text-decoration: none;
	display: block;
}

.nav li a:hover {
	color: #333;
	background-image: url(images/nav_on.png);
	background-repeat: repeat-x;
}

a {
	color: #9aab98;
}

#breakdown img {
	width: 85%;
}

#diffusers .col-md-3 {
	text-align: center;
}

#diffusers .col-md-3 img{
	height: 150px;
}

.bolded li {
	font-weight: bold;
}